<!-- Splash Page -->
<div class="container">
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="">B.A.R.F</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin">Admin</a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <div class="splash-phrase">
      <h2 class="display-4">{{title}}</h2>
      <p class="lead">{{secondary}}</p>
    </div>
  </div>
  <p class="bleh">Welcome to BARF, where we believe that every body deserves to look fierce! </p>

  <div class="bby"></div>
  <router-outlet></router-outlet>
</div>
