<app-home></app-home>


<h2>Add New Inventory</h2>
<div class="form-group">
  <div>
    <label>Garment Name::</label>
    <br>
    <input #newname>
  </div>
  <div>
    <label>Garment Price:</label>
    <br>
    <input #newPrice>
  </div>
  <div>
    <label>Garment Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
  <div>
    <label>Photo Link:</label>
    <br>
    <input #newPhoto>
  </div>
  <button class="btn btn-warning" (click)="submitForm(newName.value, newPrice.value, newDescription.value, newPhoto.value); newName.value=''; newPrice.value=''; newDescription.value=''; newPhoto.value='';">Add</button>
</div>
