html {
  font-family: helvetica;
}

.container {
  height: 100vh;
  background: #FFCAB1;
}

.container .jumbotron {
  background-color: #A8DCD1;
  color: white;
  text-align: center;
}

 .nav-link {
  color: white;
}

.navbar-brand {
  color: #F96900;
}

.bleh {
  color: white;
  text-align: center;
}

.bby {
  width: 100%;
  height: 70vh;
  background: url('bleh.jpg');
}
