<h2 class="barf-shop">BARF Style</h2>
<div class="section">
  <div *ngFor="let item of items | async" class="card">
    <div class="card-img-top">
      <img src="{{item.photo}}">
    </div>
    <div class="card-body">
      <div class="card-title">
        <h3 (click)="goToDetailPage(item)">{{item.name}}</h3>
        <hr>
      </div>
      <p class="card-text">{{item.description}} <br> ${{item.price}}</p>
      <div *ngIf="currentRoute === '/home'">
        <button class="btn buy-button">Buy it!</button>
      </div>
      <div *ngIf="currentRoute === '/admin'">
        <h6 class="key-color">Key Value  {{item.$key}}</h6>
      </div>
    </div>
  </div>
</div>
